@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');


body {
    text-align: center;
    font-family: "Atma", system-ui;
    background-color: black;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
}

.img-div {
    display: flex;
    justify-content: center;
}

.img-div img {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.4), 0px 8px 15px rgba(255, 255, 255, 0.2);
    transition: transform ease-out 0.5s;
    transform: scale(1);
}

.img-div img:hover {
    transform: scale(1.03);
}


main {
    display: flex;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
    max-height: 400px;
    gap:15px;
}

.card {
    background-color: #202020;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    transition: transform ease-out 0.5s;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.05);
    border-color: goldenrod;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
